altair==5.5.0
elevenlabs==1.59
Faker==37.1.0
fastapi==0.115.12
fastapi[standard]
openai~=1.97.1
pandas==2.2.3
psycopg2-binary==2.9.10
pydantic==2.11.4
python-dotenv==1.0.1
requests==2.32.3
SQLAlchemy==2.0.37
streamlit==1.41.1
streamlit-autorefresh==1.0.1
